<!--sse-->
<link rel="stylesheet" href="/assets/css/projects.css" />

<!-- Slideshow container -->
<div class="carousel-container">
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <a href="https://ym.tvdn.me" target="_blank">
          <img src="/assets/projects/young-mountaineers.png" alt="Young Mountaineers backoffice" />
        </a>
        <div class="caption">A fully functional backoffice and public portfolio webapp built with Mendix for a school project</div>
      </div>
      <div class="carousel-item">
        <a href="https://github.com/ThomasIAm/WindeSearch" target="_blank">
          <img src="https://github.com/ThomasIAm/WindeSearch/blob/main/screenshots/google/main.jpg?raw=true" alt="WindeSearch chrome extension" />
        </a>
        <div class="caption">A browser extension that makes it easy to access WindeSearch (my school's library search engine)</div>
      </div>
      <div class="carousel-item">
        <a href="https://pp3.tvdn.me" target="_blank">
          <img src="/assets/projects/pp3.png" alt="Capture the Flag" />
        </a>
        <div class="caption">The CTF I made for a school project using RootTheBox, LogonBox and VMware vCenter</div>
      </div>
	  <div class="carousel-item">
        <a href="https://wiki.tvdn.me" target="_blank">
          <img src="/assets/projects/wiki.jpeg" alt="Personal wiki" />
        </a>
        <div class="caption">My personal wiki, built on wiki.js</div>
      </div>
	  <div class="carousel-item">
        <a href="https://vm2.tvdn.me" target="_blank">
          <img src="https://github.com/ThomasIAm/VM2Portaal/blob/master/VM2PortaalCover.png?raw=true" alt="Private cloud portal" />
        </a>
        <div class="caption">A simple cloud portal, made for a school project, written in PHP</div>
      </div>
      <div class="carousel-item">
        <a href="https://benikincapabel.nl" target="_blank">
          <img src="/assets/projects/benikincapabel.jpeg" alt="benikincapabel.nl" />
        </a>
        <div class="caption">benikincapabel.nl: a joke gone live</div>
      </div>
      <div class="carousel-item">
        <a href="https://kbsa.tvdn.me" target="_blank">
          <img src="/assets/projects/kbsa.png" alt="PHP based webshop" />
        </a>
        <div class="caption">A webshop written in PHP, built on the Wide World Importers database for a school project</div>
      </div>
      <div class="carousel-item">
        <a href="https://ai.tvdn.me" target="_blank">
          <img src="/assets/projects/ai.png" alt="Website about AI" />
        </a>
        <div class="caption">A website about Artificial Intelligence, made for a school project</div>
      </div>
      <div class="carousel-item">
        <a href="https://old.tvdn.me" target="_blank">
          <img src="/assets/projects/old.jpeg" alt="Old personal website" />
        </a>
        <div class="caption">My old personal website, made in PHP with Material Design</div>
      </div>
    </div>
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <button class="next" onclick="nextSlide()">&#10095;</button>
	<div class="progress-bar">
		<div class="progress"></div>
	</div>
  </div>
</div>

<script src="/assets/js/projects.js"></script>

<!--sse-->
